/* ====================================================
common css start
=====================================================*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none !important;
  display: inline-block !important;
}
ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

/* ====================================================
  common css end
  =====================================================*/

/* ====================================================
  dashboard page  css start
  =====================================================*/
.leftc {
  width: 75%;
}
.cont {
  width: 800px !important;
  margin: 0 auto !important;
}
