.val input {
  height: 47px;
  width: 230px;
  border-radius: 10px;
  margin-bottom: 8px;

  color: #cdd3d3;
  text-align: center;
  text-transform: uppercase;
  background: rgb(99, 86, 86);
}
.one {
  margin-bottom: 30px;
}

.btt button {
  width: 100% !important;
  text-align: center !important;
  margin-left: 150px;
}
.bgc {
  background: #3a4647c4 !important;
  --bs-gutter-x: 0 !important;
}
